name: Build & Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: build perfspect
        run: |
          builder/build.sh
      - name: upload perfspect x86_64
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: perfspect-x86_64
          path: dist/perfspect.tgz
      - name: upload md5 for x86_64
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: md5-x86_64
          path: dist/perfspect.tgz.md5.txt
      - name: upload perfspect aarch64
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: perfspect-aarch64
          path: dist/perfspect-aarch64.tgz
      - name: upload md5 for aarch64
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: md5-aarch64
          path: dist/perfspect-aarch64.tgz.md5.txt
      - name: upload manifest
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: manifest
          path: dist/manifest.json
      - name: upload oss package
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: oss_source
          path: dist/oss_source.tgz
  test:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: download perspect
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          name: perfspect-x86_64
      - name: run test
        run: |
          tar -xf perfspect.tgz
          cp .github/mock_mlc perfspect/tools/x86_64/
          cd perfspect
          mkdir output
          ./perfspect report --output output
          cp -f perfspect.log output/
      - name: upload report
        if: ${{ always() }}
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: ${{ matrix.runner }} report
          path: perfspect/output/
  test-arm:
    needs: [build]
    runs-on: ubuntu-22.04-arm
    steps:
      - name: checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: download perspect aarch64
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          name: perfspect-aarch64
      - name: run test
        run: |
          tar -xf perfspect-aarch64.tgz
          cd perfspect
          mkdir output
          ./perfspect report --output output
          cp -f perfspect.log output/
      - name: upload report
        if: ${{ always() }}
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: ${{ matrix.runner }} report
          path: perfspect/output/
